@import "variables";

.container {
    width: 133.2rem;
    padding: 0 1.6rem;
    margin: 0 auto;
}

@media screen and (max-width: $extra-large) {
    .container {
        width: 130rem;
    }
}

@media screen and (max-width: $large) {
    .container {
        width: 96rem;
    }
}

@media screen and (max-width: $medium) {
    .container {
        width: 72rem;
    }
}

@media screen and (max-width: $small) {
    .container {
        width: 100%;
    }
}

.logo img {
    height: 5.3rem;
    width: 15.7rem;
}

section {
    margin-bottom: 10rem;
}

@media screen and (max-width: $small) {
    .logo img {
        width: 12.4rem;
    }
    section {
        margin-bottom: 4rem;
    }
    .padding-responsive {
        padding: 4rem 0;
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    cursor: pointer;
    width: 18.2rem;
    padding: 1.6rem 3rem;
    border-radius: 1.6rem;
    transition: all 0.4s ease-in-out;
    position: relative;
    overflow: hidden;

    &:hover {
        transform: scale(1.05);

        &::after {
            transform: rotate(-9deg) translateX(35rem);
        }
    }

    &::after {
        transition: transform 0.3s;
        content: "";
        position: absolute;
        left: -35rem;
        width: 36rem;
        height: 13rem;
        top: 2.5rem;
        border-radius: 4rem;
        z-index: -1;
    }

    &--primary {
        background-color: $primary-2;

        &:hover {
            background-color: $grayscale;
        }

        &:focus {
            outline: 0.4rem solid $primary-4;
        }

        &:active {
            background-color: $primary;
        }

        &::after {
            background-color: $grayscale;
        }
    }

    &--primary:disabled {
        cursor: not-allowed;
        background-color: $grayscale-3;
    }

    &--secondary {
        background-color: $grayscale;
        outline: 0.2rem solid $primary-2;

        &:hover {
            background-color: rgba($primary-2, 0.2);
        }

        &:active {
            outline: 0.2rem solid $primary-3;
        }

        &::after {
            background-color: rgba($primary-2, 0.2);
        }
    }

    &--secondary:disabled {
        outline: 0.2rem solid $grayscale-3;
        cursor: not-allowed;
        color: $grayscale-3;

        &:hover {
            background-color: $black;
        }
    }

    &--primary:disabled,
    &--secondary:disabled {
        &:hover {
            transform: initial;
        }

        &:focus {
            outline: none;
        }

        &::after {
            display: none;
        }
    }

    &--outline {
        border: 0.2rem solid $primary-2;
        background-color: transparent;
        color: $black;
    }
}

span.accent {
    position: relative;

    &::before {
        content: "";
        background-color: $primary-2;
        transform: rotate(-1.67deg);
        height: 3.4rem;
        border-radius: 3rem;
        display: block;
        z-index: -1;
        position: absolute;
        top: 1rem;
        right: -1.3rem;
        left: -0.7rem;
    }
}

@media screen and (max-width: $small) {
    span.accent::before {
        height: 2.2rem;
        top: 0.7rem;
        right: -1rem;
        left: -0.4rem;
    }

    br {
        display: none;
    }
}

.section_wrap {
    padding: 10rem 0;
    background-color: $grayscale-6;
    color: $black;
    display: grid;
    row-gap: 10rem;

    section {
        margin-bottom: 0;
    }
}

@media screen and (max-width: $small) {
    .section_wrap {
        padding: 4rem 0;
        row-gap: 4rem;
    }
}

.modal {
    color: $black;
    background-color: $grayscale-7;
    border-radius: 1.6rem;
    z-index: 999;
    position: relative;

    &__btn--close {
        position: absolute;
        right: 1.6rem;
        top: 1.6rem;

        svg {
            cursor: pointer;
        }
    }
}

.modal-with-overlay {
    z-index: 1000;

    &__inner {
        padding: 5rem 4rem 4rem;
    }
}

.modal-overlay,
.modal-with-overlay {
    display: none;
    position: fixed;
}

.modal-overlay {
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background-color: rgba($grayscale, 20%);
}

@media screen and (max-width: $medium) {
    .modal-with-overlay {
        left: 20%;
        right: 20%;

        &__inner {
            padding: 4rem 1.6rem 2rem;
        }
    }
}

@media screen and (max-width: $small) {
    .modal-with-overlay {
        left: 5%;
        right: 5%;

        .btn {
            width: 100%;
        }
    }
}
