// Font size
$font-p: 2rem;
$font-h: 4.8rem;

// Primary
$primary: #7b31d4;
$primary-2: #954ced;
$primary-3: #a64ced;
$primary-4: #ba8bf3;

// Secondary
$secondary: #2fdbbc;
$secondary-2: #ffaa4c;

// Additional
$red: #ec1211;
$required: #ff6c2d;
$black: #000000;
$dark-gray: #383838;

// Grayscale
$grayscale-black: #070707;
$grayscale: #181818;
$grayscale-2: #444444;
$grayscale-3: #b9b9b9;
$grayscale-4: #cfcfcf;
$grayscale-6: #f5f5f5;
$grayscale-7: #ffffff;
$grayscale-20: #f1f1f1;
$grayscale-30: #a7a7a7;

// Breakpoints
$extra-large: 1600px;
$large: 992px;
$medium: 768px;
$small: 425px;
