$font-p: 2rem;
$font-h: 4.8rem;
$primary-color-blue: #954ced;
$secondary-color-orange: #ffaa4c;
$black: #181818;
$white: #ffffff;
$grayscale: #444444;
$turquoise: #2fdbbc;

// Breakpoints
$extra-large: 1440px;
$large: 992px;
$medium: 768px;
$small: 375px;
