$font-p: 2rem;
$font-h: 4.8rem;

$primary-color-blue: #954ced;
$primary-color-blue-2: #7b31d4;
$primary-color-blue-3: #ba8bf3;
$primary-color-blue-4: #a64ced;

$secondary-color-orange: #ffaa4c;

$black: #181818;
$white: #ffffff;

$dark-gray: #383838;
$grayscale: #444444;
$grayscale-2: #f5f5f5;
$grayscale-3: #cfcfcf;
$grayscale-4: #b9b9b9;
$turquoise: #2fdbbc;

// Breakpoints
$extra-large: 1440px;
$large: 992px;
$medium: 768px;
$small: 425px;
